[2019-01-10 09:53] xxhomey19 opened #1 "Possible wrong author text"
Hi, this line seems to be wrong?
https://github.com/vinitshahdeo/inspirational-quotes/blob/f8fd6c064aa6ae8ff4fc57a85d4e8d344f21aa4d/data/data.json#L1172

[2019-01-14 16:18] vinitshahdeo commented on #1
Hi @xxhomey19

It's correct!
I have checked it from [here](https://www.brainyquote.com/quotes/peter_drucker_154441)

If you have any another link to this quote, please share!

[2019-01-14 23:17] xxhomey19 commented on #1
Yes, the quote is correct but the issue is it's put in a wrong place.

I think it should be like this?
[code]

[2019-01-15 05:34] vinitshahdeo commented on #1
Thanks @xxhomey19 for pointing out this!

I have made changes.

[2019-01-15 05:34] #1 closed

[2019-10-01 18:39] vinitshahdeo opened #4 "Add More Inspirational Quotes"
#### Do you know any inspirational quotes so one can start working by taking control over thoughts, thinking positively and setting new goals?

Update `data.json` inside the `data` folder and raise the PR.

_Let's get everyone inspired by your contribution to the list of Inspirational Quotes._

**Note:**
- Please avoid the repetition of quotes.
- Do not make any changes in other files
- Provide so

[2019-10-01 23:29] abraaoduarte commented on #4
#20 Add Henry Ford Quote

[2019-10-01 23:30] abraaoduarte commented on #4
#20 Add Henry Ford's quote

[2019-10-01 23:31] abraaoduarte commented on #4
#20 Add Henry Ford's quote

[2019-10-01 23:31] abraaoduarte commented on #4
#20

[2019-10-03 09:37] jsrneha commented on #4
Added Ratan Tata quotes #83

[2019-10-03 17:49] akashbhandwalkar commented on #4
I have added the Quote. #93

[2019-10-03 22:18] mrnbck commented on #4
Added a quote by Epicurus #112

[2019-10-04 09:04] vinitshahdeo opened #120 "Test to avoid repetition of Quotes"
#### **Adding **[Mocha](https://mochajs.org/)** test for checking the repetition of quotes would be great to check.**

_Somebody, please add unit tests for it._

**NOTE:**

- Add unit-tests inside `tests/` directory.
- Update the dependencies and test-scripts in `package.json`
- Update `README.md` with instructions to run tests (i.e. `npm run test`)
- Do not make any other changes.

[2019-10-04 09:18] theShivaa commented on #120
I want to take this issue

[2019-10-04 10:07] vinitshahdeo commented on #120
@theShivaa Please go ahead!

[2019-10-04 18:40] saurabhshwetabhsingh commented on #4
https://github.com/vinitshahdeo/inspirational-quotes/pull/139

[2019-10-04 18:41] saurabhshwetabhsingh commented on #4
https://github.com/vinitshahdeo/inspirational-quotes/pull/139#issue-324802273

[2019-10-04 18:49] macanrox commented on #4
Added a quote by Alexander Pope #141

[2019-10-04 19:08] saurabhshwetabhsingh commented on #4
Added a quote by Adolf Hitler https://github.com/vinitshahdeo/inspirational-quotes/pull/139

[2019-10-05 07:05] SmokinClove commented on #4
Added a quote by Carrie Fisher #166

[2019-10-05 14:52] Paskalouis commented on #4
Add a quote by Sukarno https://github.com/vinitshahdeo/inspirational-quotes/pull/175
Sorry I cannot add @vinitshahdeo as reviewer. But here is my PR.
Thank you !

[2019-10-05 17:35] vinitshahdeo commented on #4
@Paskalouis No problem!

[2019-10-06 09:31] Harshwp commented on #4
I would like to contribute

[2019-10-07 08:51] adityachandak287 commented on #4
https://github.com/vinitshahdeo/inspirational-quotes/pull/224

[2019-10-07 08:52] adityachandak287 commented on #4
https://github.com/vinitshahdeo/inspirational-quotes/pull/224
Added quote by Harvey Specter from Suits TV Show.

[2019-10-07 22:04] saurabhshwetabhsingh commented on #4
Added a quote by Nelson Mandela, please review https://github.com/vinitshahdeo/inspirational-quotes/pull/236

[2019-10-08 01:14] luizpericolo commented on #4
Hey @vinitshahdeo I have a couple of PRs for you to review:

- https://github.com/vinitshahdeo/inspirational-quotes/pull/241
- https://github.com/vinitshahdeo/inspirational-quotes/pull/239
- https://github.com/vinitshahdeo/inspirational-quotes/pull/238

I somehow was not able to add you as a reviewer to it

[2019-10-08 12:41] yashvardhan-kukreja opened #255 "Add .gitignore"
For not pushing files like node_modules, npm-debug.log, etc. which would probably be created in the future due to active contributions :)

[2019-10-08 12:57] yashvardhan-kukreja opened #257 "Add "chai" test over "mocha" for checking the response of the random quote."

[2019-10-08 13:04] yashvardhan-kukreja commented on #257
Tests for testing the following middlewares
 - getQuote()
 - getRandomQuote()

[2019-10-09 02:28] gseals commented on #255
should the .gitignore include more than this:

.vscode/
.DS_Store
package-lock.json
node_modules/
dist/
build/

I can put the .gitignore in place if these are the only ones being included

[2019-10-09 12:12] vinitshahdeo commented on #255
@gseals Please add `.env` and `.idea` too. Also exclude `package-lock.json`. Rest LGTM.

So, the final `.gitignore` should include :

[code]

[2019-10-09 14:36] gseals commented on #255
excellent. I'll create a pull request this evening. thanks, @vinitshahdeo

[2019-10-09 15:38] NoahvdAa commented on #257
If this means adding user tests I can do this.

[2019-10-09 16:59] luizpericolo commented on #4
@vinitshahdeo Do you need help validating the PRs? Or are you waiting for the issue regarding the test to be resolved in order to merge the PRs?
If you need help I can work through some of the PRs validating that the quotes are not already in the file and that the proof is present.

[2019-10-09 17:19] gseals commented on #255
@vinitshahdeo added .gitignore. please review

[2019-10-09 17:46] vinitshahdeo commented on #4
@luizpericolo Hey, I'm waiting for the unit-test for the same. The automated workflow is always good.

[2019-10-09 18:14] vinitshahdeo commented on #255
@gseals Thanks! Will review it.

[2019-10-10 14:06] vinitshahdeo opened #277 "Configure ESLint"
Adding ESLint will be helpful in identifying some common and uncommon mistakes that are made during coding.

- **Add ESLint to this project.**
- Add `scripts` in `package.json` i.e. `npm run test-lint` should run lint tests.
- Do not make any changes to other files.

#### Please refer [this](https://eslint.org/).

[2019-10-10 14:09] kalpananegi commented on #277
Can I?

[2019-10-10 14:27] kalpananegi commented on #277
Done please review #279

[2019-10-10 14:28] vinitshahdeo commented on #277
@kalpananegi Awesome:)

[2019-10-11 10:51] amarjeetrao commented on #277
can i take this one.

[2019-10-11 10:52] vinitshahdeo commented on #277
@amarjeetrao Yes, please go ahead.

[2019-10-11 14:12] saltgen commented on #4
Added a quote from Batman Begins

[ #296](https://github.com/vinitshahdeo/inspirational-quotes/pull/296)

Requesting your review, @vinitshahdeo, thank you. For some reason I wasn't able to add you as reviewer.

[2019-10-11 14:58] vinitshahdeo commented on #4
@saltgen No problem, I will review and merge it soon.

[2019-10-11 15:28] deadSnowman commented on #4
requesting review as well @vinitshahdeo

[2019-10-11 16:34] vinitshahdeo commented on #4
@deadSnowman Will review it soon. You may look into a **[few more issues](https://github.com/vinitshahdeo/HacktoberFest2K19)** that are up for grabs.

[2019-10-11 18:59] GeniusStorm commented on #4
@vinitshahdeo  Can you please review and merge the incoming PRs

[2019-10-11 20:41] GunnlaugurCalvi commented on #255
@vinitshahdeo  By my experience I think its good practise to put * in the end of node_modules and also adding *.log so includes no log files, final
`.env
.idea
.vscode/
.DS_Store
node_modules/*
dist/
build/
*.log
`
please review

[2019-10-11 21:04] vinitshahdeo commented on #255
@GunnlaugurCalvi Thanks for the PR.

[2019-10-11 21:58] vinitshahdeo commented on #4
@GeniusStorm I'll be merging it soon. Just waiting for the unit-tests. Give me one week. I'll be merging next week.

[2019-10-12 16:16] vinitshahdeo commented on #257
@aktsbot Thanks for the PR. You may look into a few **[good first issues](https://vinitshahdeo.github.io/HacktoberFest2K19/)** which are **[up for grabs](https://github.com/vinitshahdeo/HacktoberFest2K19).**

### **:white_check_mark: [Link to the repository](https://github.com/vinitshahdeo/HacktoberFest2K19)**

[2019-10-12 17:20] sakshivij commented on #277
Is this issue still not resolved?

[2019-10-12 17:52] vinitshahdeo commented on #277
@sakshivij Give it a shot. 👍

[2019-10-12 18:09] Iana-Neri22 opened #333 "Harry Styles Inpirational Quotes"

[2019-10-13 03:04] yashvardhan-kukreja commented on #257
Even I added the PR @aktsbot but great work with your PR too :D

[2019-10-13 03:06] yashvardhan-kukreja commented on #257
@vinitshahdeo do check out my PR (PR #258)

[2019-10-14 16:46] Kudzanayi-Dzvairo commented on #4
Added a quote read for review #379

[2019-10-14 16:52] Kudzanayi-Dzvairo commented on #4
Added Muhammed Ali quote #379

[2019-10-14 20:44] coelhucas commented on #277
I also give a try with #389 :)

[2019-10-14 22:44] somijaiswal23 commented on #4
#393 Added quotes. Please have a review.

[2019-10-15 06:18] vinitshahdeo commented on #4
@somijaiswal23 Thanks for the PR. I'll review it soon.
You may look into a few **[good first issues](https://vinitshahdeo.github.io/HacktoberFest2K19/)** which are **[up for grabs](https://github.com/vinitshahdeo/HacktoberFest2K19).**

### :white_check_mark: [Link to the repository](https://github.com/vinitshahdeo/HacktoberFest2K19)

[2019-10-15 06:19] vinitshahdeo commented on #277
@coelhucas Thanks for the PR.
You may look into a few **[good first issues](https://vinitshahdeo.github.io/HacktoberFest2K19/)** which are **[up for grabs](https://github.com/vinitshahdeo/HacktoberFest2K19).**

### :white_check_mark: [Link to the repository](https://github.com/vinitshahdeo/HacktoberFest2K19)

[2019-10-15 22:26] mdt2 commented on #4
Add JK Rowling quote #411

[2019-10-15 23:51] damiandiaz212 commented on #4
Added Socrates Quote #414

[2019-10-16 04:06] bvamsik25 commented on #120
@vinitshahdeo Can I ?

[2019-10-16 06:04] theShivaa commented on #120
@bvamsik25  u can go ahead with this , I am stuck in different work

[2019-10-16 07:20] bvamsik25 commented on #120
ok thanks !

[2019-10-16 18:53] vinitshahdeo commented on #333
@Iana-Neri22 Closing this issue, as it's duplicate.

[2019-10-16 18:53] #333 closed

[2019-10-17 09:33] peppoasap commented on #4
Added Pablo Picasso Quote #440

[2019-10-17 17:58] mohamed93727 commented on #120
hey i am  trying to implement this contribute with you guys!!

[2019-10-17 18:28] vinitshahdeo commented on #120
@mohamed93727 That's great:) 👍

[2019-10-18 10:57] infyblock commented on #4
Added Will Rogers Quote #459

[2019-10-19 03:46] Project-Magenta commented on #120
I want to imolement this for hacktoberfest but i have never used unit tests :(

[2019-10-19 06:46] abdulkalam1233 commented on #277
https://github.com/vinitshahdeo/inspirational-quotes/pull/466

@coelhucas check this pull request

[2019-10-19 09:36] vinitshahdeo commented on #120
@Project-Magenta Give it a try or you may look into a few **[good first issues](https://vinitshahdeo.github.io/HacktoberFest2K19/)** which are **[up for grabs](https://github.com/vinitshahdeo/HacktoberFest2K19).**

[2019-10-19 10:32] vinitshahdeo commented on #4
**Hello contributors,**

Hope you're **coding** well!

Thank you so much for the **Pull Requests**. I'll review and merge it soon. I wish your contribution will grab you a limited-edition T-shirt.

![image](https://user-images.githubusercontent.com/20594326/67143460-282d2780-f289-11e9-90e3-b7129d999af0.png)

We're already halfway of Hack-October, many are still struggling to find **good first issu

[2019-10-20 09:19] sittichoke commented on #4
Added quotes. Please have a review. [#507](https://github.com/vinitshahdeo/inspirational-quotes/pull/507)

[2019-10-20 10:19] nessieSnippets commented on #4
Added Bille Jean King quote #508

[2019-10-20 11:24] nessieSnippets commented on #120
I tried doing this using a JavaScript set : https://github.com/vinitshahdeo/inspirational-quotes/pull/510, what do you think?

Sorry if I've completely missed your PRs on this (I'm new to contributions, I got into it from hacktoberfest too). Please let me know & I'll try and review.

[2019-10-20 12:53] sprakash57 commented on #4
Added few lesser known quotes with source of truth. #427

[2019-10-20 13:31] anysh commented on #4
Please review my PR #512. Thank you :)

[2019-10-21 00:59] Project-Magenta commented on #120
ok thx @vinitshahdeo

[2019-10-21 13:47] vinitshahdeo commented on #120
@nessieSnippets Thanks for the PR. I'll review and merge it soon.

[2019-10-21 18:21] nazneennahar commented on #4
hey i would like to please contribute

[2019-10-21 19:20] vinitshahdeo commented on #4
@nazneennahar PRs are always welcome. Please go ahead.

[2019-10-22 01:16] SaundraMJohnson commented on #4
Added a quote from Gary Vaynerchuk #541 . Thank you for maintaining this repo for Hacktoberfest!

[2019-10-22 08:16] vinitshahdeo commented on #4
@SaundraMJohnson Thanks for the PR.
Check [this ](https://vinitshahdeo.github.io/HacktoberFest2K19/
) for more.

[2019-10-22 13:23] valdeadmario commented on #4
Please review my PR #553. Thank you :)))))

[2019-10-22 14:49] lreddy563 commented on #4
Please review my PR: https://github.com/vinitshahdeo/inspirational-quotes/pull/550

Thanks

[2019-10-22 18:09] vinitshahdeo commented on #4
@valdeadmario @lreddy563
Thanks for the PR. I'll review it soon.

[2019-10-23 04:25] charithjayasanka commented on #255
[https://www.gitignore.io/](url)
**Is a good site for creating gitignore files.**

[2019-10-23 22:13] SztyLeAndres commented on #4
@vinitshahdeo I've already did my PR #576

[2019-10-24 18:51] alangordon commented on #4
Added my favourite in #600

[2019-10-24 19:28] vchandev commented on #4
Hi, I would like to contribute some quotes too

[2019-10-25 07:25] geodelapaz commented on #4
Hi! Added some of my favorite in #620

[2019-10-25 07:28] geodelapaz commented on #4
Hi! Added my favorite Thanos quote in #621

[2019-10-25 11:12] lakshay-angrish commented on #4
Added Nikola Tesla quote #628

[2019-10-25 11:13] lakshay-angrish commented on #4
#628

[2019-10-26 00:03] milbeeen commented on #4
Added Jose Rizal Popular Quote ([#645](https://github.com/vinitshahdeo/inspirational-quotes/pull/645))

Happy coding!

[2019-10-26 09:37] pcanas commented on #4
Added Louis Sachar's quote! #653
:)

[2019-10-27 00:53] adam-weiler commented on #4
Adding 5 more quotes. #670

[2019-10-27 12:26] reybilla commented on #4
added https://github.com/vinitshahdeo/inspirational-quotes/pull/673

[2019-10-30 03:05] DaveTrost commented on #4
added quote by Einstein

[2019-10-30 03:06] DaveTrost commented on #4
#731

[2019-10-30 03:07] DaveTrost commented on #4
added quote by Einstein #731

[2019-10-30 08:03] thanapoom21 commented on #4
added quote by Arsene Wenger [#734](https://github.com/vinitshahdeo/inspirational-quotes/pull/734)

[2019-10-30 14:51] oliversiket commented on #4
added a new quote by Jim Rohn #742

[2019-10-31 00:51] thanapoom21 commented on #4
added quote by Lionel Messi [#757 ](https://github.com/vinitshahdeo/inspirational-quotes/pull/757)

[2019-10-31 19:02] Bumsquest commented on #4
added quote by Ferris Bueller. #780

[2019-12-02 06:18] alexlinys commented on #4
@vinitshahdeo Can I try adding to this?

[2019-12-02 06:23] vinitshahdeo commented on #4
@alexlinys yes, please go ahead.

[2020-01-04 12:39] Sudheer121 commented on #4
added few awesome quotes

[2020-01-04 13:10] vinitshahdeo commented on #4
@Sudheer121 Thanks for the PR.

I encourage you to take up an issue from **[this](https://vinitshahdeo.github.io/Water-Monitoring-System/)** project.

- ***[Link to Repo](https://github.com/vinitshahdeo/Water-Monitoring-System)***
- ***[Link to Issues](https://github.com/vinitshahdeo/Water-Monitoring-System/issues)***

[2020-01-25 21:41] naclcaleb opened #799 "Licensing issues for use in mobile app"
I was hoping I could use the `data.json` file from this in a mobile app I'm creating. I can't use NPM because I'm programming in Swift, so I am unsure as to how you'd like me to show the licensing.

Should I just copy the MIT license into the `data.json` file or something?

(This isn't the main purpose of the app, I was just thinking I could show an inspirational quote while the loading screen is

[2020-03-31 09:24] vinitshahdeo commented on #799
Thanks for letting me know.
Please mention a link to this repo somewhere in your app if possible. If not, please let me know.

[2020-03-31 09:29] vinitshahdeo commented on #4
## CHECK OUT [THIS LINK](https://corona-cases-india.netlify.com/) FOR LIVE CORONA UPDATES

Hello everyone,

I hope you are staying safe at your home and enjoying the contribution to your awesome open source projects. **I've created a web app to display the latest corona updates, please check [here](https://corona-cases-india.netlify.com/).**

#### :wave: [DO THE FIVE](https://www.mohfw.gov.in/): H

[2020-04-15 22:30] vinitshahdeo commented on #4
### Hello everyone,

[![COVID-19 Tracker by Vinit Shahdeo](https://user-images.githubusercontent.com/20594326/79394735-d1817b80-7f95-11ea-90a4-7b99e86f8560.png)](https://indiafightscorona.netlify.app/)

---
<sup><strong> I've just revamped the UI(WIP). You can check the old website [here](https://corona-cases-india.netlify.app/). Consider leaving a star [here](https://github.com/vinitshahdeo/COVID

[2020-05-08 11:21] vinitshahdeo commented on #4
### Hello Everyone :wave:
Hope you're staying safe at home.

#### I'm too glad to share that I'll be sharing my [Open Source](https://github.com/vinitshahdeo/) journey. Do [join me](https://forms.gle/zVUvJc5rZnb5vWHb6) if you're available.

---

![vinit-webinar](https://user-images.githubusercontent.com/20594326/81400917-c7ddd480-914b-11ea-8fe4-0348ba7f0ebe.jpeg)

---

Learn more here: https://tin

[2020-08-04 23:17] atakanyenel opened #809 "You don't return all of the quotes"
You use number `324` in `index,js` but you have 326 quotes. That means, the last 2 quotes will never return. Please don't use [magic numbers in code](https://en.wikipedia.org/wiki/Magic_number_(programming)#:~:text=The%20term%20magic%20number%20or,1%20manuals%20of%20the%201960s.). It's a well known anti-pattern. Just replace the value with `arr.length`.

While you are at it, you can simplify your

[2020-09-15 10:26] barunsarraf commented on #120
Hi I am looking forward to contributing to this issue :)

[2020-09-16 14:07] LeoDalcegio commented on #809
Can I?

[2020-09-16 15:09] atakanyenel commented on #809
I won't, so feel free.

[2020-09-16 16:32] LeoDalcegio commented on #809
Right, it will be for the Hacktoberfest

[2020-09-17 13:33] Zubair-12 commented on #4
Hi can you assign me this repository.

[2020-09-19 16:54] jabbar86 commented on #809
@atakanyenel @LeoDalcegio can I take this issue.

[2020-09-19 18:24] vinitshahdeo commented on #4
# Hello Everyone :wave:

[![hacktoberfest 2020](https://user-images.githubusercontent.com/20594326/93686220-7b7bab80-fad2-11ea-943d-2f80701e545e.jpg)](https://dev.to/vinitshahdeo/hacktoberfest-2020-is-here-17op)

#### As October is coming so is [Hacktoberfest](https://dev.to/vinitshahdeo/hacktoberfest-2020-is-here-17op), I've curated a list of handpicked beginner-friendly issues at [Hacktoberfest2

[2020-09-19 19:04] ay2306 opened #816 "Adding yaml and initiating travis to automatically check JSON format for every pull request."
There are many pending pull requests. We can initiate Travis to directly check if PR has the correct JSON format or not.

[2020-09-19 20:55] Zubair-12 commented on #4
Ok bro Thanks

[2020-09-20 18:57] kusha commented on #816
@ay2306 I've created #818 to address this request
The benefit of Github Actions for this use case as there is no need to set up anything outside of Github.
The drawback is that I think it won't run for existing PRs as there is a need to rebase it on top of `.github/workflows` config.
It is not a problem to add `jsonschema` there to validate data.json content (list of dicts w/ specific fields)

[2020-09-20 19:00] ay2306 commented on #816
@kusha Yes, I am looking into it since yesterday and I couldn't find a way to run tests for the previous PRs.

[2020-09-21 14:34] LeoDalcegio commented on #809
I have already taken it, but we can match a fight on the streets to see who survives and who can take this issue

[2020-09-21 14:34] LeoDalcegio commented on #809
I am kidding obviously

[2020-09-21 15:24] jabbar86 commented on #809
@LeoDalcegio  hahahahah No problem. you take this issue. I will contribute to another one.

[2020-09-23 18:42] champ96k opened #822 "Add new Quote"
{
      "text":"perfect practice makes a man perfect",
      "from":"Tushar Nikam"
   },
    {
      "text":"Experience is the name everyone gives to their mistakes",
      "from":"Oscar Wilde"
   },

[2020-09-25 00:55] tanoto-the-explorer commented on #4
Hi, is it okay if i do this?

[2020-09-25 05:05] vinitshahdeo commented on #4
@tanoto-the-explorer Yes, please go ahead. Check out [this](https://github.com/vinitshahdeo/Hacktoberfest2020) repo for more beginner-friendly repo.

[2020-09-25 05:30] tanoto-the-explorer commented on #4
@vinitshahdeo Thanks! fingers crossed my first pull request is easy :D

[2020-09-25 08:14] krisk1712 commented on #4
@vinitshahdeo i have made my pull request thank you. It was great learning.

[2020-09-25 19:25] curiousdeve opened #831 "Typo in README"

[2020-09-25 23:46] daarcher04 commented on #831
Hi @curiousdeve , could you point me to where this typo is? Thanks!

[2020-09-26 04:51] DLambros91 commented on #822
I could work on this.

[2020-09-26 06:02] champ96k commented on #822
@DLambros91 i already solve this issue no need to work on that that issue

thanks

[2020-09-27 12:25] ashirbad29 commented on #277
is this issue still open, how can i approach this

[2020-09-27 19:22] vinitshahdeo commented on #4
**Hey guys** 👋

Thanks for showing your interest.
This issue is opened for [Hacktoberfest](https://dev.to/vinitshahdeo/hacktoberfest-2020-is-here-17op). Let's wait till Oct 1st. 🚀

**Explore the repo below for more beginner-friendly issues.**

[![Hacktoberfest2020](https://github-readme-stats.vercel.app/api/pin/?username=vinitshahdeo&repo=Hacktoberfest2020)](https://github.com/vinitshahdeo/Hacktob

[2020-09-29 04:56] RushiVachhani commented on #822
I this issue still open ??
Can we add more quotes ??

[2020-09-29 06:21] champ96k commented on #822
yes sure

[2020-09-29 21:03] tdlm opened #850 "Duplicate quote"
The following two quotes are contained in the data.json:

[code]

[code]

According to [quoteinvestigator](https://quoteinvestigator.com/2013/12/09/safe-harbor/), the second one is correct, and the first one is wrong. Plus it contains a typo!

[2020-09-29 21:05] tdlm opened #851 "Spelling and grammatical errors in existing quotes"
I've noticed a few grammar/punctuation/spelling errors in a couple of places.

Example:

[code]

[2020-09-29 21:14] tdlm commented on #850
@vinitshahdeo I was going to start creating some pull requests, but it looks like you're pretty busy.

Are there any other people on the repo who can pull changes in? There are a lot of pull requests that look good to bring into the project (in my opinion). 😎

Looks like you could use some assistance?

[2020-09-30 14:01] anjali1102 commented on #255
Can I work on this??

[2020-09-30 18:15] jaiesh-pahlajani commented on #4
added a quote #877

[2020-09-30 18:16] jaiesh-pahlajani commented on #4
added a quote #877

[2020-09-30 20:09] icodechiranjib commented on #822
Submitted  a new quote

[2020-10-01 02:43] sonucodes commented on #4
added a quote by Nikola Tesla [#931](https://github.com/vinitshahdeo/inspirational-quotes/pull/931)

[2020-10-01 04:44] ashirbad29 commented on #4
added a new quote by Ralph Johnson #942

[2020-10-01 08:36] secretshardul commented on #4
@vinitshahdeo please check my PR #982 : )

[2020-10-01 09:15] Mrinalini99 commented on #4
Added a quote by Elon Musk at line 1305 #1305

[2020-10-01 10:20] Shiv-sharma-111 commented on #851
Can I work on this issue @vinitshahdeo
I will check all the quotes

[2020-10-01 10:28] abnersouza commented on #4
@vinitshahdeo I've added a new quote by Louis Srygley [#995](https://github.com/vinitshahdeo/inspirational-quotes/pull/995)

[2020-10-01 12:20] kdimas12 commented on #4
@vinitshahdeo please check my PR #922

[2020-10-01 12:53] heet-vakharia commented on #4
Can I Add Late A.P.J. Abdul Kalam's Quotes?

[2020-10-01 13:32] heet-vakharia commented on #4
Can I Add Quotes By ABJ Abdul Kalam?

[2020-10-01 13:53] ajyan commented on #851
@tdlm I used to grade SAT essays, I feel like I would be suited well to working on this! Please assign to me if you haven't already gotten someone

[2020-10-01 16:55] MdAkdas commented on #822
@vinitshahdeo can we add more quotes?

[2020-10-01 18:43] shreyakapoor08 commented on #4
can I work on it?

[2020-10-02 02:05] abhinavnagpal commented on #809
Can I start working on this one?

[2020-10-02 03:41] Nirali0029 commented on #851
@vinitshahdeo I want to definitely work on this issues. I am good in grammar and punctuations too. So, I will like to give this a try. Also, I have written some blogs and such kind of stuff. So it may surely help you. So, let me work on this issue

[2020-10-02 03:46] noypearl commented on #822
#1088

[2020-10-02 07:52] satyam-yadav24 commented on #4
I want to work on it.

[2020-10-02 12:23] atakanyenel commented on #809
@abhinavnagpal with 2 Pull Requests already opened that fixes this issue, I would say that you are a bit late.

[2020-10-03 06:37] iamrajiv opened #1137 "Adding ESLint and Prettier GitHub Actions"

[2020-10-03 06:38] iamrajiv commented on #1137
@vinitshahdeo I want to work on this issue.

[2020-10-03 07:17] ayushi2805 commented on #851
Is this issue assigned to anyone yet?

[2020-10-03 11:40] wimanshaherath commented on #822
Submitted a new quote. #1148

[2020-10-03 14:22] Akanksha2050 commented on #4
Added Mahatma Gandhi quotes. Please review #1117 @vinitshahdeo

[2020-10-03 18:02] Lagan28 commented on #4
Added Quote by Phil Knight. Please review PR #1159 @vinitshahdeo

[2020-10-04 07:36] sadow984 commented on #4
Added Alan Turing quote

[2020-10-04 07:39] sadow984 commented on #4
Added Alan Turing Quote. #1171

[2020-10-04 18:19] irfadkp opened #1184 "added tony gaskin quote"

[2020-10-05 12:41] Selectaman commented on #4
Added Michael Jordan's Inspirational thought #1200.
 @vinitshahdeo  sir please review it.

[2020-10-07 13:51] SakshamSaxena97 commented on #4
Added Abraham Lincoln's Inspirational Quote [#1224](https://github.com/vinitshahdeo/inspirational-quotes/pull/1224).
@vinitshahdeo Please review.

[2020-10-13 01:33] JavaVista commented on #4
Here is my PR #1282. Added a new quote by why the lucky stiff

[2020-10-18 08:13] wooooooood commented on #4
Love these wonderful Quotes!
Added one of my favorites in this PR #1335
Take your time to review @vinitshahdeo! Thanks

[2020-10-18 10:28] everlearner commented on #4
Hey! Great collection of Quotes ...

Do check out my PR  #1338
@vinitshahdeo

[2020-10-19 17:16] adam-weiler commented on #4
Hello, I added an additional 5 quotes:
PR [#1353](https://github.com/vinitshahdeo/inspirational-quotes/pull/1353)

[2020-10-21 09:25] jhalak27 commented on #4
@vinitshahdeo Please check out my PR #1365. Thanks!

[2020-10-24 19:51] agarwalvaibhav0211 commented on #4
@vinitshahdeo check my PR #1389

[2020-10-26 18:42] JavaVista commented on #4
Just checking, I added PR #1282. Happy Hackoctoberfest !

[2020-10-27 04:19] Adityachaturvedi2906 commented on #255
Hey! @vinitshahdeo  can you assign me this?

[2020-10-30 07:29] SquintyBoi commented on #4
#https://github.com/vinitshahdeo/inspirational-quotes/pull/1426

[2021-02-08 21:22] #1137 closed

[2021-06-20 19:22] rjworks opened #1463 "Approving pull requests?"
Hi author, why are you no longer approving PR’s? Some quotes are being duplicated.

[2021-06-20 19:28] rjworks commented on #850
I agree

[2021-06-22 07:42] #1463 closed

[2021-08-29 05:41] ananya26-vishnoi commented on #822
can we add more quotes?

[2021-08-29 05:42] ananya26-vishnoi commented on #255
Can I work on this??

[2021-08-29 05:43] ananya26-vishnoi commented on #4
Can I add more quotes?

[2021-08-29 13:50] aniket-24 commented on #4
Can I also add quotes?

[2021-09-01 15:55] suryablaster commented on #4
How can i add quote

[2021-09-02 22:31] yellowberard commented on #822
Added a new quote #1471

[2021-09-24 00:58] T21love opened #1483 "data.json"
data.json I want to hack something

[2021-09-26 15:19] Jassi10000 commented on #1483
Can you specify what's the issue u are facing  ?

[2021-09-27 08:17] motasimmakki commented on #4
I raised PR #1486, kindly do check.
Looking to contribute more as a part of Hackoctoberfest! 🎇✨

[2021-09-27 13:31] aniketpathak028 commented on #4
Hey can I work on this issue please assign me, want to create a PR as a part of Hactoberfest 2021

[2021-09-29 01:33] Niyati3031 commented on #4
Can you assign this task to me for Hacktoberfest 21 @vinitshahdeo

[2021-09-29 05:56] Buddhad commented on #4
I would also like to add quotes for Hacktoberfest 21
would that be possible?

[2021-09-29 06:45] yellowberard opened #1496 "Guru Gopal das Quote"
Adding a quote by guru gopal das.

[2021-09-29 23:33] DavidInojosa opened #1512 "Luís XIV Quote"
#1511 Please accept my quote ;)

[2021-09-30 02:35] abhijeetaman007 commented on #4
Hey @vinitshahdeo I want to add quote for Hacktoberfest 21

[2021-09-30 16:41] bhargavpadhariya commented on #4
@vinitshahdeo **please assign this issue to me**

[2021-09-30 16:44] bhargavpadhariya commented on #255
@vinitshahdeo **please assign this issue to me**

[2021-09-30 17:54] Preranasingh2001 opened #1544 "Quote from Kung Fu Panda"
{
      "text" : "Yesterday is history, tomorrow is a mystery, and today is a gift, that's why they call it
                    present.",
      "from":"Master Oogway"
   }

[2021-09-30 18:03] satkar2001 commented on #4
hi please assign this issue i want to contribute a quote

[2021-09-30 18:28] Ayan-thecodeking commented on #4
pls assign this to me i want to add some inspirational quotes

[2021-09-30 18:37] satkar2001 commented on #4
hi i raised a PR please accept

[2021-09-30 18:42] Sahilnegi-code commented on #1544
pls assign me this issue.

[2021-09-30 18:48] Sahilnegi-code commented on #1512
assign me this issue.

[2021-09-30 18:49] Sahilnegi-code commented on #1496
assign me this issue.

[2021-09-30 18:50] Sahilnegi-code commented on #4
assign me this issue.

[2021-09-30 19:17] DavidInojosa commented on #1512
how can I assign to you?

[2021-09-30 20:17] Danix421 commented on #4
#1566

[2021-09-30 23:33] patodm commented on #4
I raised new PR #1590 @vinitshahdeo.
I hope can contribute more for this  Hacktoberfest 21. 🙌
Greetings

[2021-10-01 03:16] rustzz-27 commented on #4
pls assign this to me I want to add a inspirational quote

[2021-10-01 03:35] bhanupratapsinghcs commented on #822
Is this issue still open

[2021-10-01 03:36] Parth-Barse-Main opened #1610 "Added a new Inspirational Quote"
{
      "text":"Give it your all. Whatever work you do, do it to the best of your ability",
      "from":"Jerry Dorsman and Bob Davis"
   }
Source of truth -https://www.wow4u.com/page7.html

[2021-10-01 03:38] Falldor opened #1613 "Add new Quote"

[2021-10-01 04:03] rustzz-27 opened #1620 "Added a new quote"
{
      "text":"I am not afraid of storms for I am learning to sail my ship.",
      "from":"Louisa May Alcott"
}

link: https://www.goodreads.com/quotes/19092-i-am-not-afraid-of-storms-for-i-am-learning

[2021-10-01 04:22] #1620 closed

[2021-10-01 05:36] lovetyagi-17 commented on #1610
A quote is added to repo.

[2021-10-01 05:37] lovetyagi-17 opened #1640 "Quote is added to existinf repo."
lovetyagi-17 add a quote to your repo.

[2021-10-01 06:11] adarsharyan002 commented on #4
hello,just raised a new PR #1644
plz review @vinitshahdeo

[2021-10-01 06:37] thebhavana commented on #4
Check #1659 @vinitshahdeo
Added Shiv Khera's quote
Winners don't do different things, they do things differently.

[2021-10-01 07:45] warmachine028 commented on #4
check #1678 @vinitshahdeo
Added George Santayana's Quote
Those who cannot remember the past are condemned to repeat it.

[2021-10-01 07:47] HackMEAny commented on #4
Added quote just check
data.json is updated #1635

[2021-10-01 08:05] SahilSayani commented on #4
Hi, could someone please help me? I'm a beginner and I don't know how to take up an issue

[2021-10-01 09:19] Shweta-Rani1 commented on #4
Added a quote plz check it out #1307  @vinitshahdeo

[2021-10-01 09:20] Rajeet10 commented on #4
Could you plz assign me this one . I m a beginnner in javascript!

[2021-10-01 09:26] warmachine028 commented on #4
<details>
<summary>1.  FORK THIS REPOSITORY</summary>
1. First Go to the main page of the repository and look at the corner. You will find this <code>Fork Button</code> like this <br><br>
<img src="https://user-images.githubusercontent.com/75939390/135587001-f8acd89f-4e0c-4c5c-812e-0a3ffbb8fd93.png"><br>
2. <b>Press it</b><br>
3. Now go back to your <b>own repository</b> and go to the <b>Repositor

[2021-10-01 10:47] ayaazansari commented on #4
can I work on this?

[2021-10-01 11:13] dOctorWild opened #1725 "Added Quote by Nelson Mandela"
{
      "text":"A winner is a dreamer who never gives up.",
      "from":"Nelson Mandela"
   }
https://www.inc.com/peter-economy/17-wise-nelson-mandela-quotes-that-will-inspire-your-success.html#:~:text=%22A%20winner%20is%20a%20dreamer,he%20who%20conquers%20that%20fear.%22

[2021-10-01 11:32] raj-saurabh9 opened #1731 "Add qoute from Ted Mosby"

[2021-10-01 11:37] aayush749 opened #1732 "Add quote from Frank Herbert, Dune"

[2021-10-01 11:42] rsarthak commented on #1731
hey @raj-saurabh9 can you assign me this?

[2021-10-01 12:14] Medulla9991 opened #1745 "added a quote in the data folder"
by paulo coelho

[2021-10-01 12:23] Muzammil-khan710 commented on #4
Hy, I would like to work on this issue

[2021-10-01 13:51] TechGirl007 commented on #4
Add Albert Einstein Quote Please?

[2021-10-01 14:01] HackMEAny commented on #4
Just check the PR of #1635

[2021-10-01 14:35] C0mRD commented on #4
Hey I want to work on this . Can anyone guide ???

[2021-10-01 15:15] Anonymoususer70 commented on #4
Done added a quote PR #1782

[2021-10-01 15:15] tiwarishubham635 commented on #4
Hi, I have raised a new PR #1781
Please review this @vinitshahdeo

[2021-10-01 15:40] warmachine028 commented on #4
https://github.com/vinitshahdeo/inspirational-quotes/issues/4#issuecomment-932069462

Read this one . You'll get the required guidance for contributing in almost any repository ;)

[2021-10-01 15:59] acenasir opened #1798 "Denzel Washington"
You pray for rain, you gotta deal with the mud too. That's a part of it.

[2021-10-01 15:59] acenasir commented on #1798
@vinitshahdeo Review

[2021-10-01 16:47] utkarshluthra commented on #4
Quote Added @SlowFlash22

[2021-10-01 17:08] evansusu commented on #4
Hi may I work on this

[2021-10-01 17:26] RuteshRathod opened #1823 "Thomas Calyle Quote"
A strong mind always hopes and has always cause hope.

[2021-10-01 20:28] thisisamank opened #1845 "[bug] size to get a random int shouldn't be static i.e. 324"
The size to fetch a random int at line 11 and 16 of index.js is static please fix this.

[2021-10-01 20:57] patodm commented on #4
Hi!! Added new quote. Check PR #1848
Greetings.
@vinitshahdeo 🙌

[2021-10-01 22:00] danielphilipjohnson commented on #1845
I'm about to push a fix for this if its okay :)

[2021-10-01 22:58] acenasir opened #1858 "Tupac Shakur Quote"
Death is not the greatest loss in life. The greatest loss is what dies inside while still alive. Never surrender.

https://www.goalcast.com/15-tupac-quotes/

[2021-10-02 04:45] kritikash18 commented on #1745
Added a quote by Paulo Coelho here:
[https://github.com/vinitshahdeo/inspirational-quotes/pull/1888](https://github.com/vinitshahdeo/inspirational-quotes/pull/1888)

[2021-10-02 05:35] Gourab-18 commented on #1845
I have fixed this bug. You can have a look at it and give feedback.

[2021-10-02 06:16] rithika-hebbar commented on #4
Please review my PR #1892 @vinitshahdeo

[2021-10-02 06:33] SwarajBaral commented on #120
hey @vinitshahdeo is this issue still open ? I would love to work on this issue.

[2021-10-02 07:21] danielphilipjohnson commented on #1845
I’ve  resolved the issue and made sure the index doesn’t go out of bounds. By subtracting -1 from the length

https://github.com/vinitshahdeo/inspirational-quotes/pull/1853

[2021-10-02 08:35] akbhuker commented on #1858
please assign me

[2021-10-02 08:59] CodingWithAmit-07 commented on #4
Hello Sir!! I have added a new quote. Please check my PR.
Regds

[2021-10-02 09:55] tanwi1234 commented on #4
Added a new inspirational quotes by Estee Lauder.please review my PR#1928 @vinitshahdeo

[2021-10-02 09:56] Lokesh-Choudhary opened #1944 "New Quote"
{
  "text":"Eat Apple a day, Keep Doctor Away",
  "from":"Proverb"
},

[2021-10-02 10:50] wh1zk1d commented on #4
Added a quote from the Dune character Paul Atreides: #1952

[2021-10-02 13:49] ghozt777 opened #1973 "This Project is Excluded from Hacktoberfest"
<img width="1069" alt="Screenshot 2021-10-02 at 7 18 07 PM" src="https://user-images.githubusercontent.com/80224132/135719191-67c6d304-7c1c-4a6e-a86e-07ab33e83508.png">

[2021-10-02 13:50] gokulrajpuviyarasu opened #1974 "Added Quotes from @farnamstreet blog"
Perseverance solves more problems than brilliance.

[2021-10-02 14:23] gokulrajpuviyarasu opened #1979 ""Excluded Project""
![Screenshot (132)](https://user-images.githubusercontent.com/83587135/135720577-744dece8-bf0e-46a7-9371-d5d3ef8a46df.png)
An "Excluded Project" is a repository that has been blocked by the Hacktoberfest team for being "cheaty" or "spammy".
Answer from the official Hacktober fest discord

[2021-10-02 17:17] VanshikaNehra23 opened #2005 "New Quote"
{
"text":"You only live once, but if you do it right, once is enough",
"from":"Mae West"
},

I want to add this please assign this to me.

[2021-10-02 18:47] passionlord commented on #1979
look into this please mine also says excluded.

[2021-10-02 20:08] aastha01chauhan commented on #4
hey, I want to contribute here, please assign this issue to me

[2021-10-02 20:20] ayushgupta0110 commented on #1979
Same with me On the Hacktoberfest Dashboard its shows that this Project is excluded.

[2021-10-02 20:40] rahulchaudhary2244 opened #2027 "Adding a quote by Herman Melville"
https://www.inc.com/glenn-leibowitz/50-quotes-from-famous-authors-that-will-inspire-yo.html

[2021-10-02 20:40] #2027 closed

[2021-10-03 08:21] Mitz190 opened #2071 "New Quote"
{
"text":"Somewhere, something incredible is waiting to be known.",
"from":"Carl Sagan"
},

I want to add this please assign this to me.

[2021-10-03 14:13] akshitarora921 commented on #4
Hi All, I am new to open-source. I am getting this error when I am trying to push changes to my branch. Any help is appreciated.
[code]

[2021-10-03 14:40] warmachine028 commented on #4
- At first you have to fork the repository
- The go to your account and then in the forked repository
- Then clone the repository
- Then make changes and push it back
- Then make a PR
- If you get stuck refer https://github.com/vinitshahdeo/inspirational-quotes/issues/4#issuecomment-932069462
You are directly cloning this repository and pushing changes which is not the right way

[2021-10-03 19:50] imaxisXD commented on #4
does this will be consider for hacktober fest ?

[2021-10-04 07:14] TD-17 commented on #1979
Same with me!

[2021-10-04 08:17] SandeepKrSuman opened #2163 "Added New Quote"
{
      "text":"If you want to walk fast, walk alone. But if you want to walk far, walk together.",
      "from":"Ratan Tata"
   }

[2021-10-04 12:30] azim567 commented on #4
@vinitshahdeo, Hey, I am azim Siddiqui. and I want to contribute quote in this repository as I have participated in Hacktoberfest.

[2021-10-05 08:16] GoyalRohan commented on #4
I would like to work on this issue
Can you assign it to me ?

[2021-10-05 08:23] MariamChowdhury commented on #4
Hey, I want to contribute to this issue. Can you please assign this to me?

[2021-10-05 15:56] MrTechHunter commented on #4
https://github.com/vinitshahdeo/inspirational-quotes/pull/2251

[2021-10-05 16:01] nycbeardo commented on #4
Would like to contribute, please assign me to issue

[2021-10-05 16:03] MrTechHunter commented on #4
That’s great! Feel free to open a PR. 😊

[2021-10-05 17:34] zabhishekz commented on #4
Added a new quote. Please review my PR. #2255
@vinitshahdeo

[2021-10-06 22:09] pauloreis7 opened #2303 "Add new Albert Einstein quote"
{
      "text":"There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.",
      "from":"Albert Einstein"
 }

please add Albert Einstein quote at PR #2302

[2021-10-07 06:09] ashutosh887 commented on #4
Hey @vinitshahdeo
May I contribute too ???

[2021-10-07 07:51] Yask98 commented on #4
Hey @vinitshahdeo , I just Added one new quote Please Have a look this PR: #2315

[2021-10-07 11:45] neenad99 opened #2323 "New Quote from Elon Musk"
{
      "text":"When something is important enough, you do it even if the odds are not in your favor",
      "from":"Elon Musk, CEO of Tesla Motors"
 }

Hi I want to add this quote please approve and check pr for the same

[2021-10-07 17:50] amisha123prajapati commented on #2323
@neenad99
please reply

[2021-10-07 18:04] pjra99 opened #2336 "Please assign this to me"
"When you are Rich, whatever the fuck you say is wisdom" - Jack Ma. I want to contribute this, please assign

[2021-10-07 18:06] #2336 closed

[2021-10-09 12:07] himanshu211raj opened #2389 "A quote from Robert Frost"
The best way out is always through

[2021-10-09 13:37] JuJu2181 opened #2392 "Added a new quote from Goldie Hawn"
My first try in open source world. :)

[2021-10-09 18:04] Sheikh-Yawar commented on #120
hey @vinitshahdeo is this issue still open ? I would like to contribute to this project

[2021-10-10 01:28] T21love commented on #1483
I want to know how to transfer money from account to another with out being an admin or owner of any credentials

[2021-10-10 12:04] vaibhavTekk commented on #1732
Hey There @aayush749  ! Can you assign this issue to me ? it would be greatly appreciated

[2021-10-10 12:06] aayush749 opened #2424 "Hey There @aayush749 ! Can you assign this issue to me ? it would be greatly appreciated"
Hey There @aayush749  ! Can you assign this issue to me ? it would be greatly appreciated

_Originally posted by @vaibhavTekk in https://github.com/vinitshahdeo/inspirational-quotes/issues/1732#issuecomment-939470470_

[2021-10-10 17:52] Sarthak1799 commented on #4
Is this still being considered for hacktoberfest? @vinitshahdeo

[2021-10-10 18:18] Jassi10000 commented on #1483
Buddy this is not the right place to get this info
You can instead go on Google and Youtube to find solution to your query

If you are willing to contribute to any Open Source Project but are facing difficulities , just let me know by reaching me through my socials . I will definitely help you

[2021-10-12 10:19] poojavirgo commented on #2392
Can I work on this

[2021-10-13 22:07] yarocruz opened #2486 "Hacktoberfest has Marked this an an Excluded Project"
The maintainer is not really approving any requests anyway.

[2021-10-14 12:07] Deni-Khalikov opened #2491 "Quote by Sun Tzu"
{
"text":"Let your plans be dark and impenetrable as night, and when you move, fall like a thunderbolt.",
"from":"Sun Tzu"
}

[2021-10-16 05:47] MattRudy commented on #816
is this still open? I don't see any active actions running on this repository and I've set this up before - I can get it setup to run on-demand for PRs.

[2021-10-18 13:37] AdityaShukla05 opened #2558 "Adding a motivational quote"
The quotes goes like this.. " The pain you feel today is the strength you'll feel tomorrow

[2021-10-18 13:39] AdityaShukla05 commented on #2558
I want to add this quote. @vinitshahdeo Please assign it to me

[2021-10-23 11:31] shrejal99 opened #2623 "Added Will Smith's Quote"

[2021-10-26 18:51] dakshsethi opened #2664 "Add Goku from DBZ Quote"
Hi @vinitshahdeo
I have a quote that I want to merge

By: Goku, DBZ

[2021-12-30 22:53] johnemurphy1 commented on #816
did this get assigned?

[2022-01-01 14:37] 23navi opened #2709 "Error in quotes"
There are many errors in quotes, please go through and remove such errors. Facing problem in production.

[2022-10-13 12:20] vinitshahdeo commented on #4
Hello everyone,

I have a discussion thread for [[Hacktoberfest'22] Revamped Peerlist README Badge Generator](https://github.com/vinitshahdeo/peerlist-readme-badge/discussions). Interested members, please chime in! It's a beginner-friendly project based on React.

Thank you!